/* general */

* {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  /* border: .5px solid lightpink; */
}

:root {
  --primary-color: #1F2937;
  --secondary-color: #D5D7DB;
  --call-to-action-color: #3882F6;
  --primary-font-color: #F9FAF8;
  --secondary-font-color: #1F2937;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  max-width: 1000px;
}

.container {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: .25rem;
  padding: .2rem 1.5rem;
}

/* Nav DONE */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: .5rem 6rem; /* Not positive with this */
}
.main-nav__logo {
  color: var(--primary-font-color);
  font-size: 24px;
}
.main-nav__list {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  color: var(--secondary-color);
  /* color: red; */
}

/* Hero Section DONE */

.hero {
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3rem 6rem;
  display: flex;
}
.hero__header {
  color: var(--primary-font-color);
  font-size: 48px;
  font-weight: 700;
  line-height: .9;
  margin: 0;
}
.hero__text {
  margin: 0;
  padding: 8px 0;
}
.hero__button {
  background-color: var(--call-to-action-color);
  border: none;
  color: var(--primary-font-color);
}
.hero__img {
  background-size: cover;
  text-align: center;
  margin-left: .5rem;
  width: 800px;
  height: auto;
}

/* Illustrations Section */

.illustrations {
  text-align: center;
  padding: 0 10rem 4rem;
}
.illustrations__container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  color: #B5B7BB;
}
.illustrations__header {
  font-size: 36px;
  margin: 2rem;
  color: var(--primary-color)
}
.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.illustration__image {
  height: 150px;
  width: 100%;
  border: 1px solid var(--call-to-action-color);
  border-radius: 1rem;
}

/* Quote Section */

.quote {
  background-color: var(--secondary-color);
  padding: 4rem 10rem;
}
.quote__text {
  font-size: 36px;
  margin: 0;
  font-weight: light;
  color: #1F2937;
}
.quote__author {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

/* Call to Action Section */

.action-call {
  padding: 3rem 6rem;
}
.action-call__wrapper {
  border-radius: .25rem;
  padding: 2rem 6rem;
  background-color: var(--call-to-action-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;

}
.action-call__text {
  color: var(--primary-font-color)
}
.action-call__button {
  background-color: var(--call-to-action-color);
  border: 1px solid var(--primary-font-color);
  color: var(--primary-font-color);
  flex-shrink: 0;
}

/* Footer DONE */

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 1rem;
}
